app-root{
  position: relative;
  min-height: 100vh;
}

header {
  height: 70px;
  background-color: lightskyblue;
  display: flex;
}

a {
  width: 6rem;
  margin-top: 1.5rem;
  text-decoration: none;
  color: midnightblue;
}

h1 {
  color: midnightblue;
  margin-top: 0;
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

div{
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  color: white;
  background-color: slateblue;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

